@inherits LayoutComponentBase

@* 
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div> *@


@* <PageTitle>2N ĐỒ NỘI THẤT</PageTitle> *@

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/IMG/Brand.png" alt="Logo" style="width: 50%; height: 50%;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">HOME</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/store">STORE</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/ChiTietSanPham">ACCESSORIES</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/brand">BRAND</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/news">NEWS</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/LienHe">Liên Hệ</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/TaiKhoan">Tài khoản</NavLink>
                </li>
                <li class="nav-item icon-wrapper">
                    <NavLink class="nav-link" href="/login"><i class="fas fa-user nav-link-icon"></i></NavLink>
                    <NavLink class="nav-link" href="/cart"><i class="fas fa-shopping-cart nav-link-icon"></i></NavLink>
                    
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="display:flex; justify-content:center;align-items:center">
    <div class="search-bar w-50">
        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" style="border-top-left-radius:20px; border-bottom-left-radius:20px;border"><i class="fas fa-search"></i></button>
            </div>
            <input type="text" class="form-control custom-search-input" style="border:1px solid black; border-left:none" placeholder="Tìm kiếm sản phẩm...">
            
        </div>
    </div>
</div>
<div class="container">
    @Body
</div>


<footer>
    <div class="">

    </div>
</footer>