<div class="container">
    <a class="navbar-brand" href="/">
        <img src="/images/logo/Brand.png" alt="Logo" style="width: 50%; height: 50%;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">HOME</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/store">STORE</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/ChiTietSanPham">ACCESSORIES</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/brand">BRAND</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/pages">PAGES</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/aboutus">ABOUT US</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/news">NEWS</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/contactus">CONTACT US</NavLink>
            </li>
            <li class="nav-item icon-wrapper">
                <NavLink class="nav-link" href="/login"><i class="fas fa-user nav-link-icon"></i></NavLink>
                <NavLink class="nav-link" href="/cart"><i class="fas fa-shopping-cart nav-link-icon"></i></NavLink>
            </li>
        </ul>
    </div>
</div>